

    {% extends '@User/Admin/base2.html.twig' %}
    {% block container %}

            {% for flashMessage in app.session.flashbag.get('notice') %}

                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>

            {% endfor %}
            <div class="col-md-9">
                <div class="environment-contact-form">

                    <ul>
                        <li>
                            <br><br>
                            <center>  <div class="environment-fancy-title"><h2>Mettre à <span> Un evennement</span></h2></div></center>
                            {{ form_start(form) }}

                            <label>Titre de l'annonce : </label>
                            {{ form_widget(form.titre,{'attr':{'type':'text','class':' border-top-0 border-left-0 border-right-0 rounded-0 pl-4','placeholder':'Titre...'}}) }}
                        </li>
                        <br><br>
                        <label>Date : </label>
                        <li>
                            {{ form_widget(form.dateannonce,{'attr':{'type':'date'}}) }}
                        </li>
                        <br><br>
                        <label>Description : </label>
                        <li>
                            {{ form_widget(form.description,{'attr':{'type':'text','class':' border-top-0 border-left-0 border-right-0 rounded-0 pl-4' ,'placeholder':'Description...'}}) }}
                        </li>
                        <br><br>
                        <label>Photo : </label><br>

                        <li>{{ form_widget(form.photo) }}</li>


                        <br>

                        <center><div > {{ form_widget(form.Ajouter,{'attr':{'type':'submit'}}) }}</div></center>
                        <br>

                    </ul>
                </div>
            </div>
            {{ form_end(form) }}
        </center>

    {% endblock %}

